
.km-mycustomicon:after,
.km-mycustomicon:before {
    content: "\e056";
}

.km-mycustomicon {
    font-size: 18px !important;
}

.km-scheduleicon:after,
.km-scheduleicon:before {
    content: "\e089";
}

.km-boxicon:after,
.km-boxicon:before {
    content: "\e088";
}

.eachView {
    padding-left: 8px;
    padding-right: 8px;
    font-family: Arial;
    font-size: 12pt;
    line-height: .5;
}



/* These were brought over from kendo.mobile.all.min.css to (hopefully) override the preset for the tabstrip (bottom of the page)*/
/* ------ */
/* controls some of the tabstrip settings*/


.km-ios7 .k-list, .km-ios7 .k-slider, .km-ios7 .km-widget {
    color: white;
}

/* ------ */

/* This was brought over from main.css (and the link to main was removed) */
/* controls the drawer icon at the top of the page */
.km-drawer-button:before, .km-drawer-button:after {
    content: "\e0eb";
    color: rgb(41, 57, 85);
    /* zoom: 1.5; */
    font-size: 24px;
    /* for ios, the icon needs to scoot up by 8px - may need to do something different for android */
    margin-top: -10px;
}

/* controls the header navbar */
.km-ios7 .km-view .km-navbar {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
    background-color: rgb(255, 255, 255);
    height: 45px;
}
/* controls background of the overall page */
.km-ios7 .km-view .km-content {
    font-family: Arial;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
    background-color: rgb(246, 245, 244);
    /* by adding this border, we are actually just putting a pad between the edge of the screen and any content*/
    /* border-left: 10px solid rgb(246, 245, 244);*/
}

.km-content p, .km-content h1, .km-content h2, .km-content h3, .km-content h4, .km-content h5, .km-content h6 {
    margin-left: 0rem;
    margin-right: 0rem;
}

.km-ios7 .km-view .km-tabstrip {
    font-family: Arial;
    font-size: 11pt;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
}

.km-ios7 .km-view .km-navbar .km-view-title > * {
    color: rgb(0, 0, 0);
}

.km-ios7 .km-view .km-content .km-listgroupinset .km-group-title {
    color: rgb(255, 255, 0);
}

/* list making up the drawer (or maybe every list)*/
.km-ios7 .km-view .km-content .km-list > li {
    background-color: rgb(41, 57, 85);
    font-family: Arial;
    font-size: 11pt;
    color: white;
}

/* This is copied from kendo.mobile.all.min.css (hopefully will override it with the change in margin*/
/* controls list items - moved the margin to the left 10px against the wall of the screen*/
.km-ios7 .km-list > li {
    font-size: 1.1em;
    padding-left: 15px;
    ;
    /* margin-left: -10px; */
    background: transparent;
    border-radius: 0;
    border-width: 1px 0 0;
    border-style: solid;
}

.km-ios7 .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(41, 57, 85);
    color: #d5860d;
}

.km-ios7 .km-view .km-navbar .km-button.km-state-active .km-text {
    color: rgb(254, 197, 0);
}

.km-ios7 .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(0, 73, 138);
}

.km-ios7 .km-view .km-tabstrip .km-state-active span.km-icon {
    color: pink;
}

.km-ios7 .km-view .km-tabstrip .km-button.km-state-active .km-text {
    color: rgb(127, 127, 127);
}

.km-ios7 .km-view .km-tabstrip .km-button {
    background-color: rgb(41, 57, 85);
}

    .km-ios7 .km-view .km-tabstrip .km-button .km-icon {
        color: white;
        font-size: 18px !important;
        padding-left: 7px;
        padding-bottom: 0px;
        padding-top: 5px;
    }

    .km-ios7 .km-view .km-tabstrip .km-button .km-text {
        color: rgb(254, 197, 0);
    }

.km-ios7 .km-view .km-content .km-scrollview {
    background-color: rgb(41, 57, 85);
    color: #d5860d;
}

.km-ios7 .km-view .km-content .km-listgroup .km-group-title {
    color: rgb(255, 0, 0);
}

.km-ios7 .km-view .km-content .km-button .km-text {
    color: rgb(254, 197, 0);
}

.km-android .km-view .km-navbar {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
    background-color: rgb(197, 0, 124);
}

.km-android .km-view .km-content {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
    background-color: rgb(0, 16, 165);
}

.km-android .km-view .km-tabstrip {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
}

.km-android .km-view .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
}

.km-android .km-view .km-content .km-listgroupinset .km-group-title {
    color: rgb(255, 255, 0);
}

.km-android .km-view .km-content .km-list > li {
    background-color: rgb(197, 0, 124);
}

.km-android .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(48, 58, 66);
    color: orange;
}

.km-android .km-view .km-navbar .km-button.km-state-active .km-text {
    color: rgb(254, 197, 0);
}

.km-android .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(255, 0, 0);
}

.km-android .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(229, 229, 229);
}

.km-android .km-view .km-tabstrip .km-button.km-state-active .km-text {
    color: rgb(127, 127, 127);
}

.km-android .km-view .km-tabstrip .km-button {
    background-color: rgb(51, 51, 51);
}

    .km-android .km-view .km-tabstrip .km-button .km-icon {
        color: rgb(255, 255, 0);
    }

    .km-android .km-view .km-tabstrip .km-button .km-text {
        color: rgb(254, 197, 0);
    }

.km-android .km-view .km-content .km-scrollview {
    background-color: rgb(48, 58, 66);
    color: #d5860d;
}

.km-android .km-view .km-content .km-listgroup .km-group-title {
    color: rgb(255, 0, 0);
}

.km-android .km-view .km-content .km-button .km-text {
    color: rgb(254, 197, 0);
}

.km-blackberry .km-view .km-navbar {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
    background-color: rgb(197, 0, 124);
}

.km-blackberry .km-view .km-content {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
    background-color: rgb(0, 16, 165);
}

.km-blackberry .km-view .km-tabstrip {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
}

.km-blackberry .km-view .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
}

.km-blackberry .km-view .km-content .km-listgroupinset .km-group-title {
    color: rgb(255, 255, 0);
}

.km-blackberry .km-view .km-content .km-list > li {
    background-color: rgb(197, 0, 124);
}

.km-blackberry .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(48, 58, 66);
    color: #d5860d;
}

.km-blackberry .km-view .km-navbar .km-button.km-state-active .km-text {
    color: rgb(254, 197, 0);
}

.km-blackberry .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(255, 0, 0);
}

.km-blackberry .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(229, 229, 229);
}

.km-blackberry .km-view .km-tabstrip .km-button.km-state-active .km-text {
    color: rgb(127, 127, 127);
}

.km-blackberry .km-view .km-tabstrip .km-button {
    background-color: rgb(51, 51, 51);
}

    .km-blackberry .km-view .km-tabstrip .km-button .km-icon {
        color: rgb(255, 255, 0);
    }

    .km-blackberry .km-view .km-tabstrip .km-button .km-text {
        color: rgb(254, 197, 0);
    }

.km-blackberry .km-view .km-content .km-scrollview {
    background-color: rgb(48, 58, 66);
    color: #d5860d;
}

.km-blackberry .km-view .km-content .km-listgroup .km-group-title {
    color: rgb(255, 0, 0);
}

.km-blackberry .km-view .km-content .km-button .km-text {
    color: rgb(254, 197, 0);
}

.km-wp .km-view .km-navbar {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
    background-color: rgb(197, 0, 124);
}

.km-wp .km-view .km-content {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
    background-color: rgb(0, 16, 165);
}

.km-wp .km-view .km-tabstrip {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
}

.km-wp .km-view .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
}

.km-wp .km-view .km-content .km-listgroupinset .km-group-title {
    color: rgb(255, 255, 0);
}

.km-wp .km-view .km-content .km-list > li {
    background-color: rgb(197, 0, 124);
}

.km-wp .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(48, 58, 66);
    color: #d5860d;
}

.km-wp .km-view .km-navbar .km-button.km-state-active .km-text {
    color: rgb(254, 197, 0);
}

.km-wp .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(255, 0, 0);
}

.km-wp .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(229, 229, 229);
}

.km-wp .km-view .km-tabstrip .km-button.km-state-active .km-text {
    color: rgb(127, 127, 127);
}

.km-wp .km-view .km-tabstrip .km-button {
    background-color: rgb(51, 51, 51);
}

    .km-wp .km-view .km-tabstrip .km-button .km-icon {
        color: rgb(255, 255, 0);
    }

    .km-wp .km-view .km-tabstrip .km-button .km-text {
        color: rgb(254, 197, 0);
    }

.km-wp .km-view .km-content .km-scrollview {
    background-color: rgb(48, 58, 66);
    color: #d5860d;
}

.km-wp .km-view .km-content .km-listgroup .km-group-title {
    color: rgb(255, 0, 0);
}

.km-wp .km-view .km-content .km-button .km-text {
    color: rgb(254, 197, 0);
}

.km-flat .km-view .km-navbar {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
    background-color: rgb(197, 0, 124);
}

.km-flat .km-view .km-content {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
    background-color: rgb(0, 16, 165);
}

.km-flat .km-view .km-tabstrip {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
}

.km-flat .km-view .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
}

.km-flat .km-view .km-content .km-listgroupinset .km-group-title {
    color: rgb(255, 255, 0);
}

.km-flat .km-view .km-content .km-list > li {
    background-color: rgb(197, 0, 124);
}

.km-flat .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(48, 58, 66);
    color: orange;
}

.km-flat .km-view .km-navbar .km-button.km-state-active .km-text {
    color: rgb(254, 197, 0);
}

.km-flat .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(255, 0, 0);
}

.km-flat .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(229, 229, 229);
}

.km-flat .km-view .km-tabstrip .km-button.km-state-active .km-text {
    color: rgb(127, 127, 127);
}

.km-flat .km-view .km-tabstrip .km-button {
    background-color: rgb(51, 51, 51);
}

    .km-flat .km-view .km-tabstrip .km-button .km-icon {
        color: rgb(255, 255, 0);
    }

    .km-flat .km-view .km-tabstrip .km-button .km-text {
        color: rgb(254, 197, 0);
    }

.km-flat .km-view .km-content .km-scrollview {
    background-color: rgb(48, 58, 66);
    color: orange;
}

.km-flat .km-view .km-content .km-listgroup .km-group-title {
    color: rgb(255, 0, 0);
}

.km-flat .km-view .km-content .km-button .km-text {
    color: rgb(254, 197, 0);
}
